* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --first-color: rgba(69, 75, 87, 0.7);
    --second-color: rgba(255, 255, 255, 0.1);
}


:root{
    --gray-color:  #808080; 
    --black-background2:#0e0e10;
    --black-background5:rgba(14, 14, 16, 0.247);
    --black-background3:#23233B;
    --black-background:#020200; 
    --black-background4:#5d1919; 
    --green-color: #4dc4be;
    --dark-green-color: #008498;
    --white-color: #ffff;
    --red-color: #ee436d;
    --green-color2: #00E0AB;
    --blue-color: rgb(0, 110, 163);

}

body {
    font-family: 'Poppins';
    background-color: var(--black-background);
   
    transition:  1s ease-in-out;
 
}

  body::-webkit-scrollbar {
    width: 13px;         
    transition:  1s ease-in-out;

  }
  
  body::-webkit-scrollbar-track {
    background: var(--black-background);       
    transition:  1s ease-in-out;

  }
  
  body::-webkit-scrollbar-thumb {
    background-color: var(--gray-color);   /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    height: 200px;
    border: 3px solid var(--black-background); /* creates padding around scroll thumb */
    transition:  1s ease-in-out;

  }


  body::-webkit-scrollbar-thumb:hover {
    /*background: #00E676;   */ /* color of the scroll thumb */
    background:linear-gradient(278.93deg, #00E0AB -34.41%, #006EA3 114.58%);
  }

  




.header-contact{
    width: 100vw;
    height: 65vh;
    background-image: url('../img/bg-contact.png');
    background-position: bottom;
    background-size: cover;
    background-attachment:  fixed;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-blend-mode:normal;
    background-color: rgb(12, 11, 11);
}


/* CONTACT FORM CSS*/

.contact1{
    width: 100%;
    height: 90vh;
   
    display: flex;
    flex-direction: column;
    place-items: center;
    justify-content: center;
    align-items: center;

    color: white;
    background: black;
    position: relative;
       
}
.contact-container{

    margin: auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    background: linear-gradient(111.56deg, rgba(144, 141, 147, 0.3) -2.6%, rgba(53, 83, 100, 0.225) 89.17%, rgba(53, 83, 100, 0.3) 96.27%);
    opacity: 0.95;
    border: 1px solid var(--second-color);
    box-shadow: 5px 6px 20px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(100px);
    /* Note: backdrop-filter has minimal browser support */
    

    overflow: hidden ;
    
}

.form-container{
    padding:20px;
}

.form-container h3{
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom:1rem;
}
/* AQUI COMIENZA SOLO EL CONTACTO */
.contact-form{
    display: grid;
    row-gap: 1rem;
}

.contact-form input, .contact-form textarea{
    width: 100%;
    border:none;
    outline: none;
    background: var(--first-color);
    padding: 10px;
    font-size: 0.9rem ;
    color: white;
    border-radius: 0.4rem;
}

.contact-form textarea{
    resize: none;
    height: 200px;
}

.contact-form .send-button{
    border:none;
    outline:none;
    padding: 8px;
    border-radius: 0.4rem;
    background: linear-gradient(111.56deg, rgba(144, 141, 147, 0.3) -2.6%, rgba(53, 83, 100, 0.225) 89.17%, rgba(53, 83, 100, 0.3) 96.27%);
    border: 1px solid rgba(171, 171, 171, 0.1);
    backdrop-filter: blur(10px);
    box-shadow: 5px 6px 20px rgba(0, 0, 0, 0.15);
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.5s ;


}

.contact-form .send-button:hover{
    background: hsl(181,100%,44%,0.8);
    box-shadow: 0px 0px 40px 0px rgba(60, 157, 169, 1);
    opacity: 0.9;

}


.map iframe{
width: 100%;
height: 100%;
}
/*----------------------*/




@media (max-width:964px){
    /*responsive Contact form*/

    .header-contact{
        height: 80vh;
    }
    .contact-container{
       
        margin: 0 auto;
        width: 90%;
    }
}

@media (max-width: 700px){
    .contact-container{
        grid-template-columns: 1fr;
        gap: 1rem;
        margin-top: 20rem !important;
    }

    .header-contact{
        height: 80vh;
    }

    .contact1{
    TOP: -100PX;
    height: 150vh;

    }

    .map iframe{
        height: 400px;
    }
}