/* mobile device*/

@media only screen and (max-width:1150px){
    .navbar{
        padding: 0;
    }

    .navbar.abajo{
        padding: 2.5rem;        
    }
    .logo{
        position: absolute;
        top:0px;
        left: 30px;
    }
    .nav-links{
        position: absolute;
        top:-10px;
        margin-left: -10%;
       
        padding: 0;
        flex-direction: column;
        width: 110%;
        height: 100vh;
        justify-content: center;
        background-color: rgb(2, 1, 9);
        margin-top: -1000px;
        transition: all 0.5s ease;        
    }

    .mobile-menu{
        margin-top: 0;     
    }

    

    .nav-links li{
        margin: 10px auto;
    }

    .nav-links img{
        margin: 10px auto;
    }
    .menu-btn{
        display: block;
    }

    .line{
        width: 100vmin;
    }
     
   
    
}

@media only screen and (max-width:1250px){
  
}

