.modal{

    /*display: none;*/ /* Hidden by default */
    visibility: hidden;
    position: fixed; /* Stay in place */
    z-index: 99999; /* Sit on top */
    left: 0;
    top: 0px;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow-y: auto; /* Enable scroll if needed */
    justify-content: center;
    backdrop-filter: blur(0px);
    overflow-x: hidden;
    /*opacity: 1;*/
    transition:  0.8s;


}

.modal::-webkit-scrollbar {
  width: 13px;               /* width of the entire scrollbar */
}

.modal::-webkit-scrollbar-track {
  background: #0E0E0E;        /* color of the tracking area */
}

.modal::-webkit-scrollbar-thumb {
  background-color: #808080;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  height: 100px;
  border: 3px solid #0E0E0E;  /* creates padding around scroll thumb */
}

.modal::-webkit-scrollbar-thumb:hover {
  background: #00E676;    /* color of the scroll thumb */
}





/* Modal Content/Box */
.modal-content {
    background: white;
    position: absolute;
    margin: 0 100%; /* 15% from the top and centered */
    padding: 50px;
    border: 1px solid #888;
    justify-content: center;
    color: black;
    width: 100%; /* Could be more or less, depending on screen size */
    height: 200vh;
    transition: 0.8s ease;
    transition-delay: 8ms;
  }

.modal-content h3 {
  font-size: 24px;
  margin-top: 25px;
}

.modal-content p {
  font-size: 16px;
}

#modal-content {
  transition: 0.8s ease;
  transition-delay: 8ms;
}

/* The Close Button */
.close {
  color: rgb(115, 115, 115);
  float: right;
  display: flex;
  font-size: 35px;
  font-weight: bold;
  transition: 0.5s ease;
}

.close:hover,
.close:focus {
  color: rgb(255, 255, 255);
  text-decoration: none;
  cursor: pointer;
}